<div class="row">
  <label>Message</label>
  <textarea class="message" name="message"><%= this.model.get("message") %></textarea>
</div>
<div class="row">
  <label>Shift</label>
  <input type="text" class="shift" name="shift" value="<%= this.model.get("shift") %>"/>
</div>
<hr.>
<div class="row">
  <label>Output</label>
  <textarea class="output" name="caesar_cipher"><%= this.model.get("caesar_cipher") %></textarea>
</div>